$buttonHeight : 40px ;
$buttonWidth: 185px;

@font-face {
    font-family: libertinus;
    src: url("polices/LibertinusSerif-SemiboldItalic.otf");
}

%bloc
{
    position: relative;
    
}

#backg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#premBloc
{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#logo
{
    width: 30%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

#search_bloc 
{
    @extend %bloc;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#search_bar
{
    
    height: 40px;
    border-radius: 10px;
    max-width :500px;
    width: 100%;
    margin-bottom: 20px;
    border: 0px;
}


#mode_rech
{
    @extend %bloc;
    display: flex;
    justify-content: space-around;
}

input[type='submit']
{
    min-height: $buttonHeight;
    min-width: $buttonWidth;
    background-color: rgb(9, 99, 141);
    color: white;
    border-radius: 25px;
}

input[type='submit']:hover
{
    cursor: pointer;
    background-color: grey;
}

input[type='text']
{
    font-size: 20px;
    font-family: "libertinus";
    
}

#logo_search
{
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: -40px;
    top: 3px;
    border-radius: 10px;
}

#forms
{
    min-width: 700px;
}