#backg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#premBloc
{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#search_bloc 
{
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search_bar
{
    min-height: 40px;
    border-radius: 10px;
    width :100%;
    margin: 20px;
}

input[type='button']
{
    min-height: 35px;
}

